.wrapRadio {
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
}

.table {
    display: flex;
    justify-content: center;
    gap: 4px;
    border-radius: 16px;
    background-color:rgb(243, 243, 243, 0.8);
    margin: 8px 0;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.nameInput {
    border-radius: 8px;
    height: 30px;
    border-color: rgb(13, 139, 255);
    max-width: 120px;
}

.term {
    max-width: 50px;
}

.button {
    background-color: rgb(13, 139, 255);
    border: 1px solid transparent;
    color: #fff;
    border-radius: 8px;
    padding: 8px;
    width: 30px;
    cursor: pointer;
}

.nameInput:focus {
    outline-color: rgb(13, 139, 255);
    border-color: rgb(13, 139, 255);
}